{% extends 'AppCoder/Padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<br>
<h3>Crear nuevo curso</h3>
<br>
{% if form.errors %}
    <p>Los datos ingresados son incorrectos</p>
{% endif %}
        

<form class="FormCurso" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <table>
    {{form.as_table}}
    </table>
    <br>
    <input type="submit" value="Crear">
</form>

<br>
</p>
    <a style="text-decoration:none" href="{% url 'VistaCurso' %}" class="bt bi-backspace btn-lg"> Regresar </a> 
</p>

{% endblock contenidoQueCambia %}