{% extends 'AppCoder/Padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    
<h3>Editar Directivo</h3>
<br>

<form class="FormDirectivo" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    <table>
    {{form.as_p}}
    </table>
    <br>
    <input type="submit" value="Actualizar">
</form>

<br>
</p>
    <a style="text-decoration:none" href="{% url 'VistaDirectivo' %}" class="bt bi-backspace btn-lg"> Regresar </a> 
</p>

{% endblock contenidoQueCambia %}