<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Paginas</h1>


    <ul>            
        <a href="{% url 'VistaAlumno' %}"><li>Alumnos</li></a>
            <p>Pagina con informacion de los alumnos de la institución</p>
        <a href="{% url 'VistaDocente' %}"><li>Docentes</li></a>
            <p>Pagina con informacion de los docentes de la institución</p>
        <a href="{% url 'VistaCurso' %}"><li>Cursos</li></a>
            <p>Pagina con informacion de los cursos de la institución</p>
        <a href="{% url 'VistaDirectivo' %}"><li>Directivos</li></a>
            <p>Pagina con informacion de los directivos de la institución</p>
    </ul>
</body>
</html>