{% extends 'AppCoder/Padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    <h1>Paginas</h1>


    <ul class="ulPaginas">
        
        {% for table in tables %}
            
            {% if "AppCoder" in table %}
                
                {% if "avatar" not in table %}

                    {% if "alumno" in table %}

                        <a href="{% url 'VistaAlumno' %}"><li class="listadoPagina">Alumnos</li></a>
                        <p>Pagina con informacion de los alumnos de la institución.</p>
                    
                    {% elif "curso" in table %}

                        <a href="{% url 'VistaCurso' %}"><li class="listadoPagina">Cursos</li></a>
                        <p>Pagina con informacion de los cursos de la institución.</p>

                    {% elif "docente" in table %}

                        <a href="{% url 'VistaDocente' %}"><li class="listadoPagina">Docentes</li></a>
                        <p>Pagina con informacion de los docentes de la institución.</p>

                    {% elif 'directivo' in table%}
                    
                        <a href="{% url 'VistaDirectivo' %}"><li class="listadoPagina">Directivos</li></a>
                        <p>Pagina con informacion de los directivos de la institución.</p>

                    {% endif %}
                    
                {% endif %}
                
            {% endif %}
                
        {% endfor %}
                        
    </ul>


{% endblock contenidoQueCambia %}