{% extends 'AppCoder/Padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    
    {% if docentes %}
    <h2>Resultado de la busqueda - Docentes dni: {{dni}}</h2>
    <ul>
        {% for docente in docentes %}
            <li>{{docente.nombre}}
                {{docente.apellido}}
                {{docente.dni}}
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
    <p>No hay datos con esa descripción.</p>
    {% endif %}

    <p style="color: red;"> {{respuesta}} </p>

{% endblock contenidoQueCambia %}